In [1]:
import pandas as pd
import numpy as np

In [2]:
lyme = pd.read_csv('LD-Case-Counts-by-County-00-19.csv')
print('Lyme:', lyme.columns)

# Read State Codes File
state_code = pd.read_csv('state_codes_us.csv')
print('State Codes:', state_code.columns)

Lyme: Index(['Ctyname', 'Stname', 'STCODE', 'CTYCODE', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')
State Codes: Index(['State', 'Abbrev', 'Code'], dtype='object')

### Clean Lyme DF

In [3]:
lyme.drop('Ctyname', axis=1, inplace=True)

In [4]:
lyme.drop('CTYCODE', axis=1, inplace=True)

In [5]:
lyme.drop('STCODE', axis=1, inplace=True)

In [6]:
lyme.columns

Index(['Stname', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019'],
      dtype='object')

In [32]:
lyme.columns = ['State','y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2006', 'y2007', 'y2008',
       'y2009', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016', 'y2017',
       'y2018', 'y2019']
lyme.columns

Index(['State', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2006',
       'y2007', 'y2008', 'y2009', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014',
       'y2015', 'y2016', 'y2017', 'y2018', 'y2019'],
      dtype='object')

In [33]:
aggregated_states = {'y2000': 'sum', 'y2001': 'sum', 'y2002': 'sum', 'y2003': 'sum', 'y2004': 'sum',
                     'y2005': 'sum', 'y2006': 'sum', 'y2007': 'sum', 'y2008': 'sum', 'y2009': 'sum',
                     'y2010': 'sum', 'y2011': 'sum', 'y2012': 'sum', 'y2013': 'sum', 'y2014': 'sum',
                     'y2015': 'sum', 'y2016': 'sum', 'y2017': 'sum', 'y2018': 'sum', 'y2019': 'sum', 'State': 'first'}

agg_states = merged_df.groupby(merged_df['State']).aggregate(aggregated_states)
agg_states.head()

,y2000,y2001,y2002,y2003,y2004,y2005,y2006,y2007,y2008,y2009,...,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,State
State,,,,,,,,,,,,,,,,,,,,,
Alabama,6,10,11,8,6,3,11,13,9,3,...,24,25,24,64,25,38,41,36,66,Alabama
Alaska,2,2,3,3,3,4,3,10,6,7,...,11,10,14,8,9,15,10,11,3,Alaska
Arizona,2,3,4,4,13,10,10,2,8,7,...,15,13,32,21,12,13,28,7,10,Arizona
Arkansas,7,4,3,0,0,0,0,1,0,0,...,0,0,0,0,0,2,6,4,18,Arkansas
California,96,95,97,86,48,95,85,75,74,117,...,92,70,112,73,98,134,145,104,144,California
Colorado,0,0,1,0,0,0,0,0,3,1,...,0,0,0,0,0,0,4,3,8,Colorado
Connecticut,3773,3597,4631,1403,1348,1810,1788,3058,3896,4156,...,3039,2657,2925,2360,2541,1748,2051,1859,1233,Connecticut
Delaware,167,152,194,212,339,646,482,715,772,984,...,873,669,509,417,435,506,608,520,641,Delaware
District of Columbia,11,17,25,14,16,10,62,116,74,61,...,0,0,35,40,121,103,84,79,100,District of Columbia
Florida,54,43,79,43,46,47,34,30,88,110,...,115,118,138,155,166,216,210,169,162,Florida
Georgia,0,0,2,10,12,6,8,11,35,40,...,32,31,8,4,8,4,8,19,18,Georgia
Hawaii,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hawaii
Idaho,4,5,4,3,6,2,7,9,9,16,...,4,5,19,9,9,17,20,9,14,Idaho
Illinois,35,32,47,71,87,127,110,149,108,136,...,194,204,337,233,287,237,273,276,395,Illinois
Indiana,23,26,21,25,32,33,26,55,42,83,...,94,74,110,110,138,152,142,155,189,Indiana
Iowa,34,36,42,58,49,89,97,123,109,108,...,100,165,247,194,318,232,255,283,303,Iowa
Kansas,17,2,7,4,3,3,4,8,16,18,...,17,19,34,20,23,39,40,30,35,Kansas
Kentucky,13,23,25,17,15,5,7,6,5,1,...,3,14,40,44,49,33,20,22,22,Kentucky
Louisiana,8,8,5,7,2,3,1,2,3,0,...,2,7,0,2,3,7,12,4,8,Louisiana
Maine,71,108,219,175,225,247,338,529,908,970,...,1006,1111,1373,1401,1201,1487,1850,1405,2167,Maine
Maryland,688,608,738,691,891,1235,1248,2576,2218,2024,...,1351,1651,1197,1373,1728,1866,1891,1382,1417,Maryland
Massachusetts,1158,1164,1807,1532,1532,2336,1432,2988,4582,5256,...,2476,5138,5290,5304,4224,198,410,16,7,Massachusetts
Michigan,23,21,26,12,27,62,55,51,92,103,...,104,98,168,127,148,221,291,262,413,Michigan
Minnesota,465,461,867,474,1023,917,914,1238,1282,1543,...,2124,1515,2340,1416,1805,2126,2318,1541,1528,Minnesota
Mississippi,3,8,12,21,0,0,3,1,1,0,...,5,1,0,2,4,1,1,4,4,Mississippi
Missouri,47,37,41,70,25,15,5,10,6,3,...,8,2,3,10,5,10,12,11,17,Missouri
Montana,0,0,0,0,0,0,1,4,17,3,...,11,6,18,7,5,17,12,7,8,Montana
Nebraska,5,4,6,2,2,2,11,7,12,5,...,11,15,10,7,11,14,14,15,10,Nebraska
Nevada,4,4,2,3,1,3,4,15,12,13,...,5,10,16,6,7,15,17,14,17,Nevada
New Hampshire,84,129,261,190,226,265,617,896,1601,1415,...,1299,1450,1687,724,529,891,1381,1428,1710,New Hampshire
New Jersey,2459,2020,2349,2887,2698,3363,2432,3134,3485,4973,...,4262,3576,3766,3286,4855,4350,5092,4000,3619,New Jersey
New Mexico,0,1,1,1,1,3,3,5,8,5,...,6,1,6,0,0,1,3,2,7,New Mexico
New York,4329,4083,5535,5399,5100,5565,4460,4165,7794,5651,...,4490,2998,4615,3736,4314,3882,5155,3638,4243,New York
North Carolina,47,41,137,156,122,49,31,53,47,96,...,88,122,180,170,230,272,295,212,334,North Carolina
North Dakota,2,0,1,0,0,3,7,12,10,15,...,27,15,29,14,33,32,56,33,38,North Dakota
Ohio,61,44,82,66,50,58,43,33,45,58,...,53,67,93,119,154,160,270,293,467,Ohio
Oklahoma,1,0,0,0,3,0,0,1,2,2,...,2,4,3,0,0,0,1,0,0,Oklahoma
Oregon,13,15,12,16,11,3,7,6,38,38,...,38,48,43,45,31,61,84,70,65,Oregon
Pennsylvania,2343,2806,3989,5730,3985,4287,3242,3994,3818,5722,...,5362,5033,5758,7487,9048,11443,11900,10208,8998,Pennsylvania
Rhode Island,675,510,852,736,249,39,308,177,210,235,...,159,217,724,904,904,903,1132,1111,971,Rhode Island
South Carolina,25,6,26,18,22,15,20,31,29,42,...,37,44,42,37,42,51,21,39,47,South Carolina
South Dakota,0,0,2,1,1,2,1,0,3,1,...,4,4,4,2,5,11,12,7,10,South Dakota
Tennessee,28,31,28,20,20,8,15,31,31,37,...,37,30,25,17,26,25,47,29,45,Tennessee
Texas,77,75,139,85,98,69,29,87,153,276,...,74,75,82,40,54,71,58,47,41,Texas
Utah,3,1,5,2,1,2,5,7,5,9,...,9,5,15,13,7,19,25,27,19,Utah
Vermont,40,18,37,43,50,54,105,138,404,408,...,623,522,893,599,710,761,1092,576,1064,Vermont
Virginia,149,156,259,195,216,274,357,959,933,908,...,1023,1110,1307,1346,1539,1350,1657,1139,1199,Virginia
Washington,9,9,11,7,14,13,8,12,23,16,...,19,15,18,15,24,31,37,20,43,Washington
West Virginia,35,16,26,31,38,61,28,84,135,201,...,118,97,143,136,289,368,648,671,885,West Virginia
Wisconsin,631,597,1090,740,1144,1459,1466,1814,2034,2589,...,3649,1766,1872,1361,1894,2295,3000,1869,2178,Wisconsin
Wyoming,3,1,2,2,4,3,1,3,3,3,...,2,4,3,3,1,1,4,0,5,Wyoming

### Clean State Code DF

In [34]:
state_code.columns

Index(['State', 'Code'], dtype='object')

### Check DFs

In [39]:
print('Lyme:', lyme.columns)
print('State Codes:', state_code.columns)

Lyme: Index(['State', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2006',
       'y2007', 'y2008', 'y2009', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014',
       'y2015', 'y2016', 'y2017', 'y2018', 'y2019'],
      dtype='object')
State Codes: Index(['State', 'Code'], dtype='object')

### Merge both DFs

In [40]:
merged_combined = state_code.merge(lyme, left_on = 'State', right_on = 'State')
merged_combined.to_csv('merged_comb.csv')

In [41]:
# Read Merged DF
merged_df = pd.read_csv('merged_comb.csv')
merged_df.head()

,Unnamed: 0,State,Code,y2000,y2001,y2002,y2003,y2004,y2005,y2006,...,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
0,0,Alabama,AL,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,1
1,1,Alabama,AL,1,0,1,0,0,0,0,...,0,1,1,0,3,1,2,2,0,0
2,2,Alabama,AL,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,3,Alabama,AL,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,4,Alabama,AL,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2,0

In [42]:
merged_df.columns

Index(['Unnamed: 0', 'State', 'Code', 'y2000', 'y2001', 'y2002', 'y2003',
       'y2004', 'y2005', 'y2006', 'y2007', 'y2008', 'y2009', 'y2010', 'y2011',
       'y2012', 'y2013', 'y2014', 'y2015', 'y2016', 'y2017', 'y2018', 'y2019'],
      dtype='object')

In [43]:
merged_df.drop('Unnamed: 0', axis=1, inplace=True)

In [44]:
merged_df.columns = ['State', 'Code', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2006', 'y2007', 'y2008',
       'y2009', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016', 'y2017',
       'y2018', 'y2019']
merged_df.columns

Index(['State', 'Code', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005',
       'y2006', 'y2007', 'y2008', 'y2009', 'y2010', 'y2011', 'y2012', 'y2013',
       'y2014', 'y2015', 'y2016', 'y2017', 'y2018', 'y2019'],
      dtype='object')

In [45]:
merged_df.head()

,State,Code,y2000,y2001,y2002,y2003,y2004,y2005,y2006,y2007,...,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
0,Alabama,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,1
1,Alabama,AL,1,0,1,0,0,0,0,0,...,0,1,1,0,3,1,2,2,0,0
2,Alabama,AL,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,Alabama,AL,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,Alabama,AL,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2,0

### States aggregieren

In [30]:
aggregated_states = {'y2000': 'sum', 'y2001': 'sum', 'y2002': 'sum', 'y2003': 'sum', 'y2004': 'sum',
                     'y2005': 'sum', 'y2006': 'sum', 'y2007': 'sum', 'y2008': 'sum', 'y2009': 'sum',
                     'y2010': 'sum', 'y2011': 'sum', 'y2012': 'sum', 'y2013': 'sum', 'y2014': 'sum',
                     'y2015': 'sum', 'y2016': 'sum', 'y2017': 'sum', 'y2018': 'sum', 'y2019': 'sum', 'State': 'first'}

df_agg = merged_df.groupby(merged_df['State']).aggregate(aggregated_states)
df_agg

,y2000,y2001,y2002,y2003,y2004,y2005,y2006,y2007,y2008,y2009,...,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019,State
State,,,,,,,,,,,,,,,,,,,,,
Alabama,6,10,11,8,6,3,11,13,9,3,...,24,25,24,64,25,38,41,36,66,Alabama
Alaska,2,2,3,3,3,4,3,10,6,7,...,11,10,14,8,9,15,10,11,3,Alaska
Arizona,2,3,4,4,13,10,10,2,8,7,...,15,13,32,21,12,13,28,7,10,Arizona
Arkansas,7,4,3,0,0,0,0,1,0,0,...,0,0,0,0,0,2,6,4,18,Arkansas
California,96,95,97,86,48,95,85,75,74,117,...,92,70,112,73,98,134,145,104,144,California
Colorado,0,0,1,0,0,0,0,0,3,1,...,0,0,0,0,0,0,4,3,8,Colorado
Connecticut,3773,3597,4631,1403,1348,1810,1788,3058,3896,4156,...,3039,2657,2925,2360,2541,1748,2051,1859,1233,Connecticut
Delaware,167,152,194,212,339,646,482,715,772,984,...,873,669,509,417,435,506,608,520,641,Delaware
District of Columbia,11,17,25,14,16,10,62,116,74,61,...,0,0,35,40,121,103,84,79,100,District of Columbia
Florida,54,43,79,43,46,47,34,30,88,110,...,115,118,138,155,166,216,210,169,162,Florida
Georgia,0,0,2,10,12,6,8,11,35,40,...,32,31,8,4,8,4,8,19,18,Georgia
Hawaii,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Hawaii
Idaho,4,5,4,3,6,2,7,9,9,16,...,4,5,19,9,9,17,20,9,14,Idaho
Illinois,35,32,47,71,87,127,110,149,108,136,...,194,204,337,233,287,237,273,276,395,Illinois
Indiana,23,26,21,25,32,33,26,55,42,83,...,94,74,110,110,138,152,142,155,189,Indiana
Iowa,34,36,42,58,49,89,97,123,109,108,...,100,165,247,194,318,232,255,283,303,Iowa
Kansas,17,2,7,4,3,3,4,8,16,18,...,17,19,34,20,23,39,40,30,35,Kansas
Kentucky,13,23,25,17,15,5,7,6,5,1,...,3,14,40,44,49,33,20,22,22,Kentucky
Louisiana,8,8,5,7,2,3,1,2,3,0,...,2,7,0,2,3,7,12,4,8,Louisiana
Maine,71,108,219,175,225,247,338,529,908,970,...,1006,1111,1373,1401,1201,1487,1850,1405,2167,Maine
Maryland,688,608,738,691,891,1235,1248,2576,2218,2024,...,1351,1651,1197,1373,1728,1866,1891,1382,1417,Maryland
Massachusetts,1158,1164,1807,1532,1532,2336,1432,2988,4582,5256,...,2476,5138,5290,5304,4224,198,410,16,7,Massachusetts
Michigan,23,21,26,12,27,62,55,51,92,103,...,104,98,168,127,148,221,291,262,413,Michigan
Minnesota,465,461,867,474,1023,917,914,1238,1282,1543,...,2124,1515,2340,1416,1805,2126,2318,1541,1528,Minnesota
Mississippi,3,8,12,21,0,0,3,1,1,0,...,5,1,0,2,4,1,1,4,4,Mississippi
Missouri,47,37,41,70,25,15,5,10,6,3,...,8,2,3,10,5,10,12,11,17,Missouri
Montana,0,0,0,0,0,0,1,4,17,3,...,11,6,18,7,5,17,12,7,8,Montana
Nebraska,5,4,6,2,2,2,11,7,12,5,...,11,15,10,7,11,14,14,15,10,Nebraska
Nevada,4,4,2,3,1,3,4,15,12,13,...,5,10,16,6,7,15,17,14,17,Nevada
New Hampshire,84,129,261,190,226,265,617,896,1601,1415,...,1299,1450,1687,724,529,891,1381,1428,1710,New Hampshire
New Jersey,2459,2020,2349,2887,2698,3363,2432,3134,3485,4973,...,4262,3576,3766,3286,4855,4350,5092,4000,3619,New Jersey
New Mexico,0,1,1,1,1,3,3,5,8,5,...,6,1,6,0,0,1,3,2,7,New Mexico
New York,4329,4083,5535,5399,5100,5565,4460,4165,7794,5651,...,4490,2998,4615,3736,4314,3882,5155,3638,4243,New York
North Carolina,47,41,137,156,122,49,31,53,47,96,...,88,122,180,170,230,272,295,212,334,North Carolina
North Dakota,2,0,1,0,0,3,7,12,10,15,...,27,15,29,14,33,32,56,33,38,North Dakota
Ohio,61,44,82,66,50,58,43,33,45,58,...,53,67,93,119,154,160,270,293,467,Ohio
Oklahoma,1,0,0,0,3,0,0,1,2,2,...,2,4,3,0,0,0,1,0,0,Oklahoma
Oregon,13,15,12,16,11,3,7,6,38,38,...,38,48,43,45,31,61,84,70,65,Oregon
Pennsylvania,2343,2806,3989,5730,3985,4287,3242,3994,3818,5722,...,5362,5033,5758,7487,9048,11443,11900,10208,8998,Pennsylvania
Rhode Island,675,510,852,736,249,39,308,177,210,235,...,159,217,724,904,904,903,1132,1111,971,Rhode Island
South Carolina,25,6,26,18,22,15,20,31,29,42,...,37,44,42,37,42,51,21,39,47,South Carolina
South Dakota,0,0,2,1,1,2,1,0,3,1,...,4,4,4,2,5,11,12,7,10,South Dakota
Tennessee,28,31,28,20,20,8,15,31,31,37,...,37,30,25,17,26,25,47,29,45,Tennessee
Texas,77,75,139,85,98,69,29,87,153,276,...,74,75,82,40,54,71,58,47,41,Texas
Utah,3,1,5,2,1,2,5,7,5,9,...,9,5,15,13,7,19,25,27,19,Utah
Vermont,40,18,37,43,50,54,105,138,404,408,...,623,522,893,599,710,761,1092,576,1064,Vermont
Virginia,149,156,259,195,216,274,357,959,933,908,...,1023,1110,1307,1346,1539,1350,1657,1139,1199,Virginia
Washington,9,9,11,7,14,13,8,12,23,16,...,19,15,18,15,24,31,37,20,43,Washington
West Virginia,35,16,26,31,38,61,28,84,135,201,...,118,97,143,136,289,368,648,671,885,West Virginia
Wisconsin,631,597,1090,740,1144,1459,1466,1814,2034,2589,...,3649,1766,1872,1361,1894,2295,3000,1869,2178,Wisconsin
Wyoming,3,1,2,2,4,3,1,3,3,3,...,2,4,3,3,1,1,4,0,5,Wyoming

In [26]:
df_agg.columns

Index(['y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2006', 'y2007',
       'y2008', 'y2009', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015',
       'y2016', 'y2017', 'y2018', 'y2019', 'State'],
      dtype='object')

In [27]:
state_code.columns

Index(['State', 'Code'], dtype='object')

In [29]:
dff_agg = df_agg.merge(state_code, left_on = 'State', right_on = 'State')
dff_agg.to_csv('dff_agg.csv')

ValueError: 'State' is both an index level and a column label, which is ambiguous.

In [ ]:
state_code.columns

In [ ]:
merged = pd.read_csv('merged_new.csv')
merged.head()

In [ ]:
merged.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
merged.columns

In [ ]:
len(merged.State)

In [ ]:
merged.head()

In [ ]:
 S_2 = merged.groupby(['State','2000'])

In [ ]:
S_2.head()

In [ ]:
aggregated_states = {'2000': 'sum', '2001': 'sum', '2002': 'sum', '2003': 'sum', '2004': 'sum',
                     '2005': 'sum', '2006': 'sum', '2007': 'sum', '2008': 'sum', '2009': 'sum',
                     '2010': 'sum', '2011': 'sum', '2012': 'sum', '2013': 'sum', '2014': 'sum',
                     '2015': 'sum', '2016': 'sum', '2017': 'sum', '2018': 'sum', '2019': 'sum', 'State': 'first'}

df_agg = lyme.groupby(lyme['State']).aggregate(aggregated_states)
df_agg.head()

In [ ]:
with open("final_df.csv", encoding = 'utf-8', mode='w') as f:
    for key, value in merged.iterrows():
        #print(value[4])#,value[2])
        #f.write( '-\n')
        f.write( 'State'+str(value[0])+'\n')
        f.write( 'Code"'+str(value[1])+('"')+'\n')
        #f.write( '    publisher: "Karger"' +'\n')
        #f.write( '    zsta: ""'+'\n')
        #f.write( '    firstyear: '+str(value[2])+'\n')
        #f.write( '    lastyear: '+str(value[3])+'\n')
        #f.write( '    build: "https://www.karger.com/Article/FullText/{{  }}"'+'\n')
        #f.write( '    # DOI: '+'\n')
        #f.write( '    journalurl: '+str(value[4])+'\n')
        #f.write( '    example: ""'+'\n')