In [1]:
import pandas as pd
import numpy as np

In [2]:
lyme = pd.read_csv('LD-Case-Counts-by-County-00-19.csv')
print('Lyme:', lyme.columns)

# Read State Codes File
state_code = pd.read_csv('state_codes_us.csv')
print('State Codes:', state_code.columns)

Lyme: Index(['Ctyname', 'Stname', 'STCODE', 'CTYCODE', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
      dtype='object')
State Codes: Index(['State', 'Abbrev', 'Code'], dtype='object')

### Clean Lyme DF

In [3]:
lyme.drop('Ctyname', axis=1, inplace=True)

In [4]:
lyme.drop('CTYCODE', axis=1, inplace=True)

In [5]:
lyme.drop('STCODE', axis=1, inplace=True)

In [6]:
lyme.columns

Index(['Stname', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015',
       '2016', '2017', '2018', '2019'],
      dtype='object')

In [7]:
lyme.columns = ['State','y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2006', 'y2007', 'y2008',
       'y2009', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016', 'y2017',
       'y2018', 'y2019']
lyme.columns

Index(['State', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2006',
       'y2007', 'y2008', 'y2009', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014',
       'y2015', 'y2016', 'y2017', 'y2018', 'y2019'],
      dtype='object')

In [8]:
df_agg = lyme.groupby(['State', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2006',
       'y2007', 'y2008', 'y2009', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014',
       'y2015', 'y2016', 'y2017', 'y2018', 'y2019'])#.aggregate(aggregated_states)

In [9]:
df_agg.head()

,State,y2000,y2001,y2002,y2003,y2004,y2005,y2006,y2007,y2008,...,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
0,Alabama,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,1
1,Alabama,1,0,1,0,0,0,0,0,0,...,0,1,1,0,3,1,2,2,0,0
2,Alabama,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,Alabama,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,Alabama,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3185,Wyoming,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3186,Wyoming,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3187,Wyoming,0,0,0,1,1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3188,Wyoming,0,0,1,0,1,1,0,1,1,...,0,0,2,1,1,0,0,2,0,0
3192,Wyoming,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,3

In [10]:
merged_df.columns = ['State', 'state_code', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2006', 'y2007', 'y2008',
       'y2009', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016', 'y2017',
       'y2018', 'y2019']
merged_df.columns


aggregated_states = {'y2000': 'sum', 'y2001': 'sum', 'y2002': 'sum', 'y2003': 'sum', 'y2004': 'sum',
                     'y2005': 'sum', 'y2006': 'sum', 'y2007': 'sum', 'y2008': 'sum', 'y2009': 'sum',
                     'y2010': 'sum', 'y2011': 'sum', 'y2012': 'sum', 'y2013': 'sum', 'y2014': 'sum',
                     'y2015': 'sum', 'y2016': 'sum', 'y2017': 'sum', 'y2018': 'sum', 'y2019': 'sum', 'State': 'first'}

df_agg = merged_df.groupby(merged_df['State']).aggregate(aggregated_states)
df_agg
df_agg.to_csv('maybe.csv')

NameError: name 'merged_df' is not defined

### Read new aggregated DF

In [ ]:
dff = pd.read_csv('maybe.csv')
dff.head()

### Clean State Code DF

In [ ]:
state_code.columns

### Check DFs

In [ ]:
print('Lyme:', dff.columns)
print('State Codes:', state_code.columns)

### Merge both DFs

In [ ]:
full_df = state_code.merge(dff, left_on = 'State', right_on = 'State')
#full_df.to_csv('merged_comb.csv')

In [ ]:
full_df.head()

In [ ]:
full_df.columns

In [ ]:
full_df.drop('State.1', axis=1, inplace=True)

In [ ]:
full_df.columns

In [ ]:
full_df.to_csv('full_df.csv')

In [ ]:
# Read Merged DF
merged_df = pd.read_csv('merged_comb.csv')
merged_df.head()

In [ ]:
merged_df.columns

In [ ]:
merged_df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
merged_df.columns = ['State', 'Code', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005', 'y2006', 'y2007', 'y2008',
       'y2009', 'y2010', 'y2011', 'y2012', 'y2013', 'y2014', 'y2015', 'y2016', 'y2017',
       'y2018', 'y2019']
merged_df.columns

In [ ]:
merged_df.head()

In [ ]:
merged_df.columns

### State und Year .groupby

In [ ]:
merged_df.State.unique()

In [ ]:
groups = merged_df.groupby(['State', 'y2000'])
for group_key, group_value in groups:
    group = groups.get_group(group_key)
    print(group)
    print("")

In [ ]:
groups = data.groupby(['Gender', 'Employed'])
for group_key, group_value in groups:
    group = groups.get_group(group_key)
    print(group)
    print("")

In [ ]:
state_code.columns

In [ ]:
merged = pd.read_csv('merged_new.csv')
merged.head()

In [ ]:
merged.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
merged.columns

In [ ]:
len(merged.State)

In [ ]:
merged.head()

In [ ]:
 S_2 = merged.groupby(['State','2000'])

In [ ]:
S_2.head()

In [ ]:
aggregated_states = {'2000': 'sum', '2001': 'sum', '2002': 'sum', '2003': 'sum', '2004': 'sum',
                     '2005': 'sum', '2006': 'sum', '2007': 'sum', '2008': 'sum', '2009': 'sum',
                     '2010': 'sum', '2011': 'sum', '2012': 'sum', '2013': 'sum', '2014': 'sum',
                     '2015': 'sum', '2016': 'sum', '2017': 'sum', '2018': 'sum', '2019': 'sum', 'State': 'first'}

df_agg = lyme.groupby(lyme['State']).aggregate(aggregated_states)
df_agg.head()