In [1]:
#!pip install geopandas

In [1]:
import pandas as pd
import geopandas as gpd
import json
from bokeh.models import GeoJSONDataScource

ImportError: cannot import name 'GeoJSONDataScource' from 'bokeh.models' (/home/scharf/anaconda3/lib/python3.7/site-packages/bokeh/models/__init__.py)

In [2]:
df = pd.read_csv("aggregated_states.csv")
df

      Year          State  Count_Total state_code
0     2000        Alabama            6         AL
1     2000         Alaska            2         AK
2     2000        Arizona            2         AZ
3     2000       Arkansas            7         AR
4     2000     California           96         CA
...    ...            ...          ...        ...
1015  2019       Virginia         1199         VA
1016  2019     Washington           43         WA
1017  2019  West Virginia          885         WV
1018  2019      Wisconsin         2178         WI
1019  2019        Wyoming            5         WA

[1020 rows x 4 columns]

In [3]:
shapefile = '/home/scharf/Desktop/DS_Data_Visualisation_2022_Vanessa_Scharf/Lyme/natural_earth_vector/10m_cultural/ne_10m_admin_1_states_provinces.shp'
gdf = gpd.read_file(shapefile)[['name', 'geometry']]
gdf.columns = ['State', 'geometry']
gdf

                   State                                           geometry
0             Entre Ríos  POLYGON ((-58.20011 -32.44713, -58.20012 -32.4...
1               Paysandú  POLYGON ((-58.20012 -32.44720, -58.20011 -32.4...
2       Kalimantan Timur  MULTIPOLYGON (((117.70361 4.16341, 117.70361 4...
3                  Sabah  MULTIPOLYGON (((117.70361 4.16341, 117.70361 4...
4     Arica y Parinacota  POLYGON ((-69.51009 -17.50659, -69.50611 -17.5...
...                  ...                                                ...
4591                Isla  POLYGON ((14.51073 35.88896, 14.51537 35.89113...
4592            Cospicua  POLYGON ((14.52937 35.88156, 14.52700 35.87772...
4593               Pietà  POLYGON ((14.49801 35.89251, 14.49616 35.88830...
4594               Msida  POLYGON ((14.48663 35.88636, 14.48231 35.88979...
4595               Birgu  POLYGON ((14.52126 35.88711, 14.51537 35.89113...

[4596 rows x 2 columns]

In [5]:
merged_df = gdf.merge(df, left_on = 'State', right_on = 'State')
merged_df.to_csv('merged_df.csv')

In [36]:
merged_json = json.loads(merged_df.to_json())
type(merged_json)

dict

In [37]:
json_data = json.dumps(merged_json)
type(json_data)

str

In [6]:
!ls

aggregated_states.csv			 lyme_dash.py
bokeh_l.ipynb				 merged_df.csv
Dash_Dashboard.py			 natural_earth_vector
final.py				 natural_earth_vector.zip
Geo_Mapping.ipynb			 online_dash.py
LD-Case-Counts-by-County-00-19_copy.csv  README.md
LD-Case-Counts-by-County-00-19.csv	 Untitled1.ipynb
Lyme_Clean_Data.ipynb			 untitled1.py
Lyme_Dashboard_Bokeh.ipynb		 Untitled.ipynb
Lyme_Dashboard_Dash.ipynb