In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('full_df.csv')

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
df.columns

Index(['State', 'Code', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005',
       'y2006', 'y2007', 'y2008', 'y2009', 'y2010', 'y2011', 'y2012', 'y2013',
       'y2014', 'y2015', 'y2016', 'y2017', 'y2018', 'y2019'],
      dtype='object')

In [5]:
df.columns = ['State', 'state_code', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004', 'y2005',
       'y2006', 'y2007', 'y2008', 'y2009', 'y2010', 'y2011', 'y2012', 'y2013',
       'y2014', 'y2015', 'y2016', 'y2017', 'y2018', 'y2019']

In [6]:
df.columns

Index(['State', 'state_code', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004',
       'y2005', 'y2006', 'y2007', 'y2008', 'y2009', 'y2010', 'y2011', 'y2012',
       'y2013', 'y2014', 'y2015', 'y2016', 'y2017', 'y2018', 'y2019'],
      dtype='object')

In [7]:
df.to_csv('spyder_df.csv')

In [8]:
df.head()

,State,state_code,y2000,y2001,y2002,y2003,y2004,y2005,y2006,y2007,...,y2010,y2011,y2012,y2013,y2014,y2015,y2016,y2017,y2018,y2019
0,Alabama,AL,6,10,11,8,6,3,11,13,...,2,24,25,24,64,25,38,41,36,66
1,Alaska,AK,2,2,3,3,3,4,3,10,...,7,11,10,14,8,9,15,10,11,3
2,Arizona,AZ,2,3,4,4,13,10,10,2,...,2,15,13,32,21,12,13,28,7,10
3,Arkansas,AR,7,4,3,0,0,0,0,1,...,0,0,0,0,0,0,2,6,4,18
4,California,CA,96,95,97,86,48,95,85,75,...,129,92,70,112,73,98,134,145,104,144

In [12]:
print(df.y2000.max())
print(df.y2001.max())
print(df.y2002.max())
print(df.y2003.max())
print(df.y2004.max())
print(df.y2005.max())
print(df.y2006.max())
print(df.y2007.max())
print(df.y2008.max())
print(df.y2009.max())
print(df.y2010.max())
print(df.y2011.max())
print(df.y2012.max())
print(df.y2013.max())
print(df.y2014.max())
print(df.y2015.max())
print(df.y2016.max())
print(df.y2017.max())
print(df.y2018.max())
print(df.y2019.max())

4329
4083
5535
5730
5100
5565
4460
4165
7794
5722
3805
5362
5138
5758
7487
9048
11443
11900
10208
8998

In [ ]:
# safe total counts per year in seperate variable

In [ ]:
Append new row of total per year
df = df.append({'State' : 'Total',
          'state_code' : '',
          'y2000' : '4083', 
          'y2001' : '5730',
          'y2002' : '5100',
          'y2003' : '5565',
          'y2004' : '4460',
          'y2005' : '4165',
          'y2006' : '7794',
          'y2007' : '5722',
          'y2008' : '3805',
          'y2009' : '5362',
          'y2009' : '5138',
          'y2009' : '5758',
          'y2019' : '7487',
          'y2000' : '9048',
          'y2000' : '11443', 
          'y2000' : '11900', 
          'y2000' : '10208', 
          'y2000' : '8998'},
         ignore_index=True)

df.tail()

In [ ]:
df.to_csv('df_add_total.csv')

In [ ]:

df = pd.DataFrame(df,columns=['State', 'state_code', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004',
       'y2005', 'y2006', 'y2007', 'y2008', 'y2009', 'y2010', 'y2011', 'y2012',
       'y2013', 'y2014', 'y2015', 'y2016', 'y2017', 'y2018', 'y2019']) 
df.insert(20,"total",['4329', '4083', '5730', '5100', '5565', '4460',
                      '4165', '7794', '5722', '3805', '5362', '5138',
                      '5758', '7487', '9048', '11443', '11900', '10208',
                      '8998'],True)

In [ ]:
!ls

In [ ]:
cum2000

In [ ]:
df_add_column = pd.DataFrame(df,columns=['State', 'state_code', 'y2000', 'y2001', 'y2002', 'y2003', 'y2004',
       'y2005', 'y2006', 'y2007', 'y2008', 'y2009', 'y2010', 'y2011', 'y2012',
       'y2013', 'y2014', 'y2015', 'y2016', 'y2017', 'y2018', 'y2019']) 
df.insert(22,"Count_Sum",['4329','4083', '5730', '5100', '5565','4460','4165','7794','5722','3805',
                          '5362','5138','5758','7487','9048','11443','11900','10208','8998',],True)
df.columns

In [ ]:
cummulated = pd.read_csv('spyder_df.csv')